.body {
  color: #2c3e50;

  min-height: 100vh;
}

.Navbar {
  width: 100%;
  background-color: #fff;
  position: fixed;
  border-bottom: 1px solid #eaecef;
  z-index: 32;
}

.Header {
  max-width: 1280px;
  display: flex;
  padding: 8px;
  font-size: 14px;
  color: #2c3e50;
  align-items: center;
  flex-wrap: nowrap;
}

.HeaderItem {
  z-index: 32;
  display: flex;
  margin-right: 16px;
  align-self: stretch;
  align-items: center;
  flex-wrap: nowrap;
}

.HeaderItemFull {
  flex: auto;
}

.HeaderLink {
  z-index: 32;
  font-weight: 700;
  color: #2c3e50;
  white-space: nowrap;
  cursor: pointer;
}

.HeaderLink.active {
  color: #007bff;
}
.HeaderLink:hover {
  text-decoration: none;
}

.BannerText {
  font-size: 18px;
}

.Container {
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 90vh;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}

.Sidebar {
  transition: 0.8s ease;
  border-top: 1px solid #eaecef;
  border-bottom: 1px solid #eaecef;

  border-right: 1px solid #eaecef;
  position: fixed;
  height: 100%;
  width: 220px;
  left: -100%;
  background-color: #fff;
}

.Sidebar ul {
  list-style-type: none;
  text-decoration: none;
}

.Sidebar li {
  font-size: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 24px;
  border-bottom: 1px solid #eaecef;
}

.Sidebar li.active {
  font-weight: 700;
  color: #007bff;
}

.Sidebar a:hover {
  text-decoration: none;
}

.Sidebar.active {
  left: 0;
  transition: 0.5s;
}

.Footer {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.Space {
  height: 15px;
  background-color: #fff;
  z-index: 35;
}

.FooterContent {
  z-index: 35;
  background-color: #fff;
  border-top: 1px solid #eaecef;
  margin-left: auto;
  margin-right: auto;
  max-width: 980px;
  text-align: right;
  padding-top: 16px;
  padding-bottom: 16px;
  cursor: pointer;
}
