.body {
  color: #2c3e50;

  min-height: 100vh;
}

.Navbar {
  width: 100%;
  background-color: #fff;
  position: fixed;
  border-bottom: 1px solid #eaecef;
  z-index: 32;
}

.Header {
  max-width: 1280px;
  display: flex;
  padding: 8px;
  font-size: 14px;
  color: #2c3e50;
  align-items: center;
  flex-wrap: nowrap;
}

.HeaderItem {
  z-index: 32;
  display: flex;
  margin-right: 16px;
  align-self: stretch;
  align-items: center;
  flex-wrap: nowrap;
}

.HeaderItemFull {
  z-index: 3;
  flex: auto;
}

.HeaderLink {
  z-index: 32;
  font-weight: 700;
  color: #2c3e50;
  white-space: nowrap;
  cursor: pointer;
}

.HeaderLink.active {
  color: #007bff;
}
.HeaderLink:hover {
  text-decoration: none;
}

.BannerText {
  font-size: 18px;
}

.Container {
  padding-top: 80px;
  min-height: 200vh;
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
}
