.TitlePage {
  font-size: 20px;
  font-weight: 600;
}

.SubTitlePage {
  font-size: 12px;
  font-weight: 400;
}
.TitleAppPage {
  font-size: 24px;
  font-weight: 600;
}
@media (min-width: 860px) {
  .TitlePage {
    font-size: 20px;
    font-weight: 600;
  }
}

.TitlePageMedium {
  font-size: 20px;
  font-weight: 600;
}

.divider {
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid hsla(210, 18%, 87%, 1);
}

.btnCreateOAuth {
  border-radius: 999px;
}

.CircleBadge {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(140, 149, 159, 0.15);
}

.CircleBadgeMedium {
  width: 64px;
  height: 64px;
}

.CircleBadgeSmall {
  width: 56px;
  height: 56px;
}

.CircleBadgeIcon {
  max-width: 60% !important;
  height: auto !important;
  max-height: 55% !important;
}

.CircleEmphasis {
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.Avatar {
  display: inline-block;
  overflow: hidden;
  line-height: 1;
  vertical-align: middle;
  background-color: #ffffff;
  border-radius: 6px;
  flex-shrink: 0;
  box-shadow: 0 0 0 1px rgba(27, 31, 36, 0.15);
}

.AvatarUser {
  border-radius: 50% !important;
}

.ClientList {
  margin-top: 20px;
}
.ClientList ul {
  list-style-type: none;
}
.ClientList ul li {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.ClientName {
  color: #007bff;
  font-size: 14px;
  font-weight: 600;
}
.ClientGrantAccessTime {
  font-size: 12px;
  font-weight: 600;
}
.ClientDescription {
  font-size: 12px;
  font-weight: 300;
}
.projectNameTitle {
  font-size: 20px;
  font-weight: 600;
}
@media (min-width: 860px) {
  .ClientName {
    font-size: 16px;
    font-weight: 600;
  }

  .ClientDescription {
    font-size: 14px;
    font-weight: 300;
  }
  .ClientGrantAccessTime {
    font-size: 14px;
    font-weight: 600;
  }
}

.ClientName:hover {
  text-decoration: underline;
}

.clientIdTitle {
  font-size: 16px;
  font-weight: 500;
}

.clientIdText {
  font-size: 14px;
  font-weight: 400;
}

.clientSecretTitle {
  font-size: 16px;
  font-weight: 500;
}

.clientSecretText {
  font-size: 14px;
  font-weight: 400;
}

.countUserText {
  font-size: 16px;
  font-weight: 500;
}

.clientSecretContent {
  padding: 8px 16px;

  border-color: #d0d7de;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
}

.ClientListAccess {
  margin-top: 20px;
}
.ClientListAccess ul {
  list-style-type: none;
}
.ClientListAccess ul li {
  margin-bottom: 20px;
}

.projectTeamUl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style-type: none;
}

.projectTeamUl li {
  padding: 10px 10px;
}

.projectTeamName {
  font-size: 14px;
  font-weight: 400;
}

.projectTeamRole {
  font-size: 14px;
  font-weight: 700;
}

@media (min-width: 860px) {
  .projectTeamUl {
    flex-direction: row;
  }
  .projectTeamRole {
    font-size: 14px;
    font-weight: 700;
  }
}
